$primary-font: "Poppins", sans-serif;
$secondary-font: "Nunito Sans", sans-serif;

$primary-color: #f48c06;
$title-color: #2f327d;
$text-color: #696984;
$logo-color: #113c49;
$black-color: #252641;
$black-light-color: #464646;
$blue-color: #65daff;
$blue-light-color: #29B9E7;
$blue-lighter-color: #23BDEEE5;
$blue-dark-color: #5B72EE;

$gray-color: #6c6c6c;
$pink-color: #FFF2E1;
$yellow-color: #F4B767;
$yellow-light-color: #F3AC50;
