section.about 
  .container 
    .about-container 
      .about-boxed.center 
        h2.about-heading.heading What is <span>Skilline?</span>
        p.about-desc.desc Skilline is a platform that allows educators to create online classes whereby they can store the course materials online; manage assignments, quizzes and exams; monitor due dates; grade results and provide students with feedback all in one place.
      .about-list 
        .about-item 
          .about-content 
            h3.about-title FOR INSTRUCTORS
            a(href="#") 
              button.btn.about-btn.btn--transparent Start a class today
        .about-item 
          .about-content 
            h3.about-title FOR STUDENTS
            a(href="#") 
              button.btn.about-btn.btn--transparent Enter access code


