section.companies
  .container
    .companies-container 
      h3.companies-title Trusted by 5,000+ Companies Worldwide
      .companies-list 
        .companies-item 
          img(src="images/companies-google.png", alt="")
        .companies-item 
          img(src="images/companies-netflix.png", alt="")
        .companies-item 
          img(src="images/companies-airbnb.png", alt="")
        .companies-item 
          img(src="images/companies-amazon.png", alt="")
        .companies-item 
          img(src="images/companies-facebook.png", alt="")
        .companies-item 
          img(src="images/companies-grab.png", alt="")