section.feature 
  .container 
    .feature-container 
      .feature-boxed.center
        h2.feature-heading.heading Our <span>Features</span>
        p.feature-desc.desc This very extraordinary feature, can make learning activities more efficient
      .feature-user
        .feature-user-img 
          img(src="images/feature-user-img.jpg", alt="")
        .feature-user-content 
          h3.feature-user-title.feature-title.heading A <span>user interface</span> designed for the classroom
          .feature-user-item 
            .feature-user-icon
              img(src="images/feature-icon1.png", alt="")
            p.feature-user-text Teachers don’t get lost in the grid view and have a dedicated Podium space.
          .feature-user-item 
            .feature-user-icon
              img(src="images/feature-icon2.png", alt="")
            p.feature-user-text TA’s and presenters can be moved to the front of the class.
          .feature-user-item 
            .feature-user-icon
              img(src="images/feature-icon3.png", alt="")
            p.feature-user-text Teachers can easily see all students and class data at one time.
      .feature-tools  
        .feature-tools-content 
          h3.feature-tools-title.feature-title.heading <span>Tools</span> For Teachers And Learners
          p.desc.feature-desc.feature-tools-desc Class has a dynamic set of teaching tools built to be deployed and used during class. Teachers can handout assignments in real-time for students to complete and submit.
        .feature-tools-img 
          img(src="images/feature-tools-img.jpg", alt="")
      .feature-assessments
        .feature-assessments-img 
          img(src="images/feature-assessments-img.jpg", alt="")
        .feature-assessments-content 
          h3.heading.feature-title.feature-assessments-title Assessments, <span>Quizzes</span>, Tests
          p.desc.feature-desc.feature-assessments-desc Easily launch live assignments, quizzes, and tests. Student results are automatically entered in the online gradebook.
      .feature-management
        .feature-management-content 
          h3.heading.feature-title.feature-management-title <span>Class Management</span> Tools for Educators
          p.desc.feature-desc.feature-management-desc Class provides tools to help run and manage the class such as Class Roster, Attendance, and more. With the Gradebook, teachers can review and grade tests and quizzes in real-time.
        .feature-management-img 
          img(src="images/feature-management-img.jpg", alt="")
      .feature-discussions 
        .feature-discussions-img 
          img(src="images/feature-discussions-img.jpg", alt="")
        .feature-discussions-content 
          h3.heading.feature-title.feature-discussions-title One-on-One <span>Discussions</span>
          p.desc.feature-desc.feature-discussions-desc Teachers and teacher assistants can talk with students privately without leaving the Zoom environment.
      .feature-more
        a(href="#") 
          button.btn.btn--yellow See more features