footer.footer 
  .container 
    .footer-container 
      .footer-intro 
        .logo.logo--secondary.footer-logo Skilline
        .footer-virtual Virtual Class for Zoom
      .footer-subcribe 
        h3.footer-subcribe-title Subscribe to get our Newsletter
        form.footer-subcribe-form(action="") 
          input.footer-input(type="email" placeholder="Your Email")
          button.btn.btn--blue.footer-btn Subcribe
      .footer-list 
        .footer-item  
          a.footer-link(href="#") Careers
        .footer-item  
          a.footer-link(href="#") Privacy Policy
        .footer-item  
          a.footer-link(href="#") Terms & Conditions
      .footer-copyright © 2021 Class Technologies Inc. 
