header.header 
  .header-container 
    .header-top
      a(href="#").logo.logo--primary Skilline
      i.fa.fa-bars.header-toggle 
      ul.header-menu 
        li.header-menu-item 
          a.header-menu-link(href="#") Home
        li.header-menu-item 
          a.header-menu-link(href="#") Careers
        li.header-menu-item 
          a.header-menu-link(href="#") Blog
        li.header-menu-item 
          a.header-menu-link(href="#") About Us
        .header-auth
          a.header-auth-link(href="#") 
            button.header-login.btn.btn--white Login 
          a.header-auth-link(href="#") 
            button.header-signUp.btn.btn--primary Sign up
    .header-main 
      .header-content
        .header-boxed
          h1.header-heading.heading <span>Studying</span> Online is now much easier  
          p.header-desc.desc Skilline is an interesting platform that will teach you in more an interactive way
        .header-content-buttons 
          a(href="#") 
            button.header-join.btn.btn--primary Join for free
          .header-watch 
            a.btn-play(href="#")
              i.fa.fa-play
            p.header-watch-text Watch how it works
      .header-img 
        img(src="images/header-img.png", alt="") 


