section.integration
  .container
    .integration-container
      .integration-imgs
        .integration-imgs-top
          .integration-img
            img(src="images/integration-item1.png", alt="alt")
          .integration-img
            img(src="images/integration-item2.png", alt="alt")
        .integration-imgs-bottom
          .integration-img
            img(src="images/integration-item3.png", alt="alt")
          .integration-img
            img(src="images/integration-item4.png", alt="alt")
      .integration-content
        .indexing INTEGRATIONS
        h3.heading.integration-title 200+ educational tools and platform <span>integrations</span>
        p.desc.integration-desc Schoology has every tool your classroom needs and comes pre-integrated with more than 200+ tools, student information systems (SIS), and education platforms.
        button.btn.btn--yellow See All Integrations


