section.news
  .container 
    .news-container 
      .news-boxed.center
        h2.heading.news-heading Lastest News and Resources
        p.desc.news-desc See the developments that have occurred to Skillines in the world
      .news-content
        .news-main 
          .news-img 
            img(src="images/news-img1.jpg", alt="")
          .news-btn.news-main-btn NEWS 
          a(href="#")
            h4.news-title.news-main-title Class adds $30 million to its balance sheet for a Zoom-friendly edtech solution
          p.news-text.news-main-text Class, launched less than a year ago by Blackboard co-founder Michael Chasen, integrates exclusively...
          a(href="#").news-more Read more
        .news-list 
          .news-item 
            .news-img.news-img--small 
              img(src="images/news-img2.jpg", alt="")
              .news-btn.news-btn--small PRESS RELEASE
            .news-item-content 
              a(href="#") 
                h5.news-title.news-title--small Class Technologies Inc. Closes $30 Million Series A Financing to Meet High Demand
              p.news-text.news-item-text Class Technologies Inc., the company that created Class,...
          .news-item 
            .news-img.news-img--small 
              img(src="images/news-img3.jpg", alt="")
              .news-btn.news-btn--small NEWS
            .news-item-content 
              a(href="#") 
                h5.news-title.news-title--small Zoom’s earliest investors are betting millions on a better Zoom for schools
              p.news-text.news-item-text Zoom was never created to be a consumer product. Nonetheless, the...
          .news-item 
            .news-img.news-img--small 
              img(src="images/news-img4.jpg", alt="")
              .news-btn.news-btn--small NEWS
            .news-item-content 
              a(href="#") 
                h5.news-title.news-title--small Former Blackboard CEO Raises $16M to Bring LMS Features to Zoom Classrooms
              p.news-text.news-item-text This year, investors have reaped big financial returns from betting on Zoom...
            
