section.software 
  .container 
    .software-container 
      .software-boxed.center 
        h2.software-heading.heading All-In-One Cloud <span>Software.</span> 
        p.software-desc.desc Skilline is one powerful online software suite that combines all the tools needed to run a successful school or office.
      .software-list 
        .software-item 
          .software-img 
            img(src="images/software-icon1.png", alt="")
          h3.software-title Online Billing, Invoicing, & Contracts
          p.software-text Simple and secure control of your organization’s financial and legal transactions. Send customized invoices and contracts
        .software-item 
          .software-img 
            img(src="images/software-icon2.png", alt="")
          h3.software-title Easy Scheduling & Attendance Tracking
          p.software-text Schedule and reserve classrooms at one campus or multiple campuses. Keep detailed records of student attendance
        .software-item 
          .software-img 
            img(src="images/software-icon3.png", alt="")
          h3.software-title Customer Tracking
          p.software-text Automate and track emails to individuals or groups. Skilline’s built-in system helps organize your organization 