section.testimonial 
  .container 
    .testimonial-container 
      .testimonial-content 
        .indexing TESTIMONIAL
        h3.heading.testimonial-title What They Say?
        p.desc.testimonial-desc Skilline has got more than 100k positive ratings from our users around the world.
        p.desc.testimonial-desc Some of the students and teachers were greatly helped by the Skilline.
        p.desc.testimonial-desc Are you too? Please give your assessment
        a(href="#") 
          button.btn.btn--yellow.testimonial-btn Write your assessment 
            .testimonial-btn-arrow 
              img(src="images/testimonial-arrow-right.svg", alt="")
      .testimonial-slider 
        .testimonial-item
          .testimonial-img  
            img(src="images/testimonial-img.jpg", alt="")
          .testimonial-box 
            p.testimonial-comment "Thank you so much for your help. It's exactly what I've been looking for. You won't regret it. It really saves me time and effort. Skilline is exactly what our business has been lacking."
            .testimonial-info 
              span.testimonial-name Gloria Rose
              .testimonial-rating 
                .testimonial-star 
                  img(src="images/testimonial-star.svg", alt="")  
                  img(src="images/testimonial-star.svg", alt="")  
                  img(src="images/testimonial-star.svg", alt="")  
                  img(src="images/testimonial-star.svg", alt="")  
                  img(src="images/testimonial-star.svg", alt="")  
                span.testimonial-review 12 reviews at Yelp
        .testimonial-item
          .testimonial-img  
            img(src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80", alt="")
          .testimonial-box 
            p.testimonial-comment "Thank you so much for your help. It's exactly what I've been looking for. You won't regret it. It really saves me time and effort. Skilline is exactly what our business has been lacking."
            .testimonial-info 
              span.testimonial-name Gloria Rose
              .testimonial-rating 
                .testimonial-star 
                  img(src="images/testimonial-star.svg", alt="")  
                  img(src="images/testimonial-star.svg", alt="")  
                  img(src="images/testimonial-star.svg", alt="")  
                  img(src="images/testimonial-star.svg", alt="")  
                  img(src="images/testimonial-star.svg", alt="")  
                span.testimonial-review 12 reviews at Yelp
        .testimonial-item
          .testimonial-img  
            img(src="https://images.unsplash.com/photo-1491349174775-aaafddd81942?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80", alt="")
          .testimonial-box 
            p.testimonial-comment "Thank you so much for your help. It's exactly what I've been looking for. You won't regret it. It really saves me time and effort. Skilline is exactly what our business has been lacking."
            .testimonial-info 
              span.testimonial-name Gloria Rose
              .testimonial-rating 
                .testimonial-star 
                  img(src="images/testimonial-star.svg", alt="")  
                  img(src="images/testimonial-star.svg", alt="")  
                  img(src="images/testimonial-star.svg", alt="")  
                  img(src="images/testimonial-star.svg", alt="")  
                  img(src="images/testimonial-star.svg", alt="")  
                span.testimonial-review 12 reviews at Yelp

