section.youcan
  .container 
    .youcan-container 
      .youcan-content 
        .youcan-boxed 
          h3.youcan-heading.heading Everything you can do in a physical classroom, <span>you can do with Skilline</span>
          p.youcan-desc.desc Skilline’s school management software helps traditional and online schools manage scheduling, attendance, payments and virtual classrooms all in one secure cloud-based system.
        a.youcan-more(href="#") Learn more
        .circle.circle--big 
        .circle.circle--small 
      .youcan-img 
        img(src="images/youcan-img.jpg", alt="")
        a.btn-play(href="#").youcan-btn-play
          i.fa.fa-play
        .square.square--blue
        .square.square--yellow